/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: hsl(226, 43%, 10%);
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
  color: white;
  font-family: 'Rubik', sans-serif;
}


